// Mon Parcours
.mon-parcours--p5 {
  &.outer-style {
    background-image: url(https://ucarecdn.com/0a98a2b4-f635-4a39-a6f7-c6aed1adaad9/-/quality/smart/-/format/auto/);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 994;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Mon Parcours > Haut de page
.haut-de-page--p5:not(#\ ) {
  &.outer-style {
    z-index: 1000;
    position: sticky;
    inset: 0px auto auto -0.03px;
  }
  &.property-style {
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff36;
    border-style: solid;
    border-radius: 100px;
    overflow: hidden;
  }
}
// Mon Parcours > Container 1
.container-1--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 0 0 20px 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
  }
}
// Mon Parcours > Container 1 > Titre
.titre--p5 {
  &.outer-style {
    min-width: 700px;
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 12px;
    padding: 15px 15px 0 15px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: auto;
      min-width: 100px;
      overflow: inherit;
    }
  }
}
// Mon Parcours > Container 1 > Container
.container--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(sm) {
    &.scroller-style {
      flex-direction: column;
    }
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      min-width: 0;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2
.container-2--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 20px;
    z-index: 1000;
  }
  &.property-style {
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff36;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    padding: 20px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
  }
  @include media-breakpoint-down(sm) {
    &.outer-style {
      padding: 20px 0 30px 0;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Titre
.titre-text--p5 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container
.container-3--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Image
.image--p5 {
  &.outer-style {
    width: 200px;
    min-width: 200px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    padding: 0 20px 0 0;
  }
  &.template-style {
    max-width: 200px;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      align-self: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Container
.container-4--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Container > Description
.description--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Container > En Savoir Plus
.en-savoir-plus--p5 {
  &.outer-style {
    align-self: flex-start;
    &.state-hover:not(#\ ) {
      .en-savoir-plus--p5 {
        &.property-style {
          font-style: normal;
          text-decoration: underline;
        }
      }
    }
    padding: 5px;
    z-index: 999;
  }
  &.property-style {
    border-radius: 4px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
  }
  @include media-breakpoint-down(sm) {
    &.outer-style {
      &.state-hover:not(#\ ) {
        .en-savoir-plus--p5 {
          &.property-style {
            font-weight: bold;
          }
        }
      }
    }
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      align-self: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container
.container-5--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: end;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Image
.image-1--p5 {
  &.outer-style {
    width: 200px;
    min-width: 200px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
  &.template-style {
    max-width: 200px;
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Description
.description-text--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    text-align: right;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container 1
.container-1-container--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container 1 > Image
.image-2--p5 {
  &.outer-style {
    width: 200px;
    min-width: 200px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
  &.template-style {
    max-width: 200px;
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container 1 > Description
.description-1--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    text-align: left;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container
.container-6--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Image
.image-3--p5 {
  &.outer-style {
    width: 200px;
    min-width: 200px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
  &.template-style {
    max-width: 200px;
  }
}
// Mon Parcours > Container 1 > Container > Container 2 > Container > Description
.description-2--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    text-align: right;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 3
.container-3-container--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-items: start;
    justify-content: center;
    padding: 20px;
    z-index: 999;
  }
  &.inner-style {
    height: auto;
    width: auto;
  }
  &.property-style {
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff36;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    padding: 20px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
  @include media-breakpoint-down(sm) {
    &.outer-style {
      padding: 20px 0 0 0;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Titre
.titre-1--p5 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    padding: 15px 15px 5px 15px;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container
.container-7--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: space-around;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container
.container-8--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px;
    z-index: 1000;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container > Image
.image-4--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container > Sous-Titre
.sous-titre--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px 5px 15px;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container > Description
.description-3--p5 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 15px 15px;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container
.container-9--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container > Image
.image-5--p5 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container > Sous-Titre
.sous-titre-text--p5 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px 5px 15px;
  }
}
// Mon Parcours > Container 1 > Container > Container 3 > Container > Container > Description
.description-4--p5 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 15px 15px;
  }
}