// Contact
.contact--p4 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 995;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-wrap: wrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Contact > Container
.container--p4 {
  &.outer-style {
    background-color: #ffffffff;
    z-index: 1000;
  }
  &.property-style {
    color: #000000ff;
    border-width: 1px 1px 1px 1px;
    border-color: #00000094;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: inherit;
    justify-content: center;
    align-items: flex-start;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      min-width: 0;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Contact > Container > Container
.container-1--p4 {
  &.outer-style {
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      min-width: 0;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Contact > Container > Container > Icon
.icon--p4 {
  &.outer-style {
    padding: 0 0 0 10px;
    z-index: 1000;
  }
  &.property-style {
    text-align: center;
  }
}
// Contact > Container > Container > Email
.email--p4 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Contact > Container > Container > Icon
.icon-1--p4 {
  &.outer-style {
    padding: 0 10px 0 0;
    z-index: 998;
  }
  &.property-style {
    text-align: center;
    cursor: pointer;
  }
}
// Contact > Container > Container
.container-2--p4 {
  &.outer-style {
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      min-width: 0;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Contact > Container > Container > Icon
.icon-2--p4 {
  &.outer-style {
    padding: 0 0 0 10px;
    z-index: 1000;
  }
  &.property-style {
    text-align: center;
  }
}
// Contact > Container > Container > text
.telephone-0652--p4 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Contact > Container > Container > Icon
.icon-3--p4 {
  &.outer-style {
    padding: 0 10px 0 0;
    z-index: 998;
  }
  &.property-style {
    text-align: center;
    cursor: pointer;
  }
}
// Contact > Container > Container
.container-3--p4 {
  &.outer-style {
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      min-width: 0;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Contact > Container > Container > Icon
.icon-4--p4 {
  &.outer-style {
    padding: 0 0 0 10px;
    z-index: 1000;
  }
  &.property-style {
    text-align: center;
  }
}
// Contact > Container > Container > LinkedIn
.linked-in--p4 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.inner-style {
      max-width: 280px;
    }
  }
}
// Contact > Container > Container > Icon
.icon-5--p4 {
  &.outer-style {
    padding: 0 10px 0 0;
    z-index: 998;
  }
  &.property-style {
    text-align: center;
    cursor: pointer;
  }
}
// Contact > Container > Container
.container-4--p4 {
  &.outer-style {
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.outer-style {
      width: 100%;
      min-width: 0;
      overflow: inherit;
    }
    &.template-style {
      max-width: none;
    }
  }
}
// Contact > Container > Container > Icon
.icon-6--p4 {
  &.outer-style {
    padding: 0 0 0 10px;
    z-index: 1000;
  }
  &.property-style {
    text-align: center;
  }
}
// Contact > Container > Container > Github
.github--p4 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    padding: 15px;
  }
}
// Contact > Container > Container > Copiee
.copiee--p4 {
  &.outer-style {
    padding: 0 10px 0 0;
    z-index: 998;
  }
  &.property-style {
    text-align: center;
    cursor: pointer;
  }
}