// Portfolio
.portfolio--p0 {
  &.outer-style {
    background-image: url(https://ucarecdn.com/0a98a2b4-f635-4a39-a6f7-c6aed1adaad9/-/quality/smart/-/format/auto/);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 999;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// Portfolio > Haut de page
.haut-de-page--p0:not(#\ ) {
  &.outer-style {
    z-index: 1000;
    position: sticky;
    inset: 0px auto auto -0.03px;
  }
  &.property-style {
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff36;
    border-style: solid;
    border-radius: 100px;
    overflow: hidden;
  }
}
// Portfolio > Container 1
.container-1--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 0 0 20px 0;
    z-index: 999;
  }
  &.inner-style {
    max-width: 400px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
  }
}
// Portfolio > Container 1 > Titre
.titre--p0 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 12px;
    padding: 15px 15px 0 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      font-size: 3em;
      letter-spacing: 7px;
    }
  }
}
// Portfolio > Container 1 > Nom Prenom
.nom-prenom--p0 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    padding: 15px;
  }
}
// Portfolio > Container 2
.container-2--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 20px 0 30px 0;
    z-index: 998;
  }
  &.inner-style {
    max-width: 1500px;
  }
  &.property-style {
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff36;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    padding: 20px;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
  }
}
// Portfolio > Container 2 > Titre
.titre-text--p0 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    padding: 15px;
  }
}
// Portfolio > Container 2 > Description
.description--p0 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
  }
}
// Portfolio > Container 2 > Competence
.competence--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
    }
  }
}
// Portfolio > Container 2 > Competence > Image
.image--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 400px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Portfolio > Container 2 > Competence > Description
.description-text--p0 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Portfolio > Container 2 > Competence
.competence-container--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 997;
  }
  &.scroller-style {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: end;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
    }
  }
}
// Portfolio > Container 2 > Competence > Image
.image-1--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 600px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Portfolio > Container 2 > Competence > Description
.description-1--p0 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    text-align: right;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Portfolio > Container 2 > Competence
.competence-1--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 996;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: column;
    }
  }
}
// Portfolio > Container 2 > Competence > Image
.image-2--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 400px;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Portfolio > Container 2 > Competence > Description
.description-2--p0 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.17em;
    padding: 15px;
  }
  @include media-breakpoint-down(xs) {
    &.property-style {
      text-align: center;
    }
  }
}
// Portfolio > Container 3
.container-3--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    justify-content: center;
    padding: 20px 0 0 0;
    z-index: 997;
  }
  &.inner-style {
    max-width: 1000px;
  }
  &.property-style {
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff36;
    border-style: solid;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Portfolio > Container 3 > Titre
.titre-1--p0 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    font-size: 2em;
    font-weight: bold;
    padding: 15px 15px 5px 15px;
  }
}
// Portfolio > Container 3 > Container
.container--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: space-around;
  }
  @include media-breakpoint-down(xs) {
    &.scroller-style {
      flex-direction: inherit;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
}
// Portfolio > Container 3 > Container > Container
.container-4--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px;
    z-index: 1000;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Portfolio > Container 3 > Container > Container > Image
.image-3--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Portfolio > Container 3 > Container > Container > Titre
.titre-2--p0 {
  &.outer-style {
    z-index: 999;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 15px 5px 15px;
  }
}
// Portfolio > Container 3 > Container > Container > Description
.description-3--p0 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 15px 15px;
  }
}
// Portfolio > Container 3 > Container > Container
.container-5--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px;
    z-index: 999;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Portfolio > Container 3 > Container > Container > Image
.image-4--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Portfolio > Container 3 > Container > Container > Titre
.titre-3--p0 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 15px 5px 15px;
  }
}
// Portfolio > Container 3 > Container > Container > Description
.description-4--p0 {
  &.outer-style {
    z-index: 997;
  }
  &.property-style {
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 15px 15px;
  }
}
// Portfolio > Container 3 > Container > Container
.container-6--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    padding: 15px;
    z-index: 998;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    align-items: center;
  }
}
// Portfolio > Container 3 > Container > Container > Image
.image-5--p0 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-self: stretch;
    z-index: 1000;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
  }
}
// Portfolio > Container 3 > Container > Container > Titre
.titre-4--p0 {
  &.outer-style {
    z-index: 998;
  }
  &.property-style {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 15px 5px 15px;
  }
}
// Portfolio > Container 3 > Container > Container > Description
.description-5--p0 {
  &.outer-style {
    z-index: 997;
  }
  &.property-style {
    overflow: hidden;
    text-align: center;
    padding: 5px 15px 10px 15px;
  }
}