// CV
.cv--p3 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    z-index: 996;
  }
  &.inner-style {
    height: 100%;
  }
  &.scroller-style {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
// CV > Icon 1
.icon-1--p3 {
  &.outer-style {
    align-self: flex-end;
    padding: 0 40px 0 0;
    z-index: 1000;
  }
  &.property-style {
    color: #ffffffff;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
  }
}
// CV > Container
.container--p3 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 520px;
    z-index: 999;
  }
  &.scroller-style {
    flex-wrap: wrap;
  }
}
// CV > Container > Image
.image--p3 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    align-self: stretch;
    z-index: 1000;
  }
}
// CV > Container 2
.container-2--p3 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 200px;
    padding: 20px 0 0 0;
    z-index: 998;
  }
  &.property-style {
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    cursor: pointer;
  }
  &.scroller-style {
    flex-wrap: wrap;
    align-content: inherit;
    justify-content: center;
    align-items: center;
  }
}
// CV > Container 2 > text
.telecharger--p3 {
  &.outer-style {
    z-index: 1000;
  }
  &.property-style {
    overflow: hidden;
    border-radius: 50px 50px 50px 50px;
    padding: 15px 5px 15px 15px;
    cursor: pointer;
  }
}
// CV > Container 2 > Icon
.icon--p3 {
  &.outer-style {
    width: 100%;
    min-width: 0;
    max-width: 40px;
    z-index: 999;
  }
  &.property-style {
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
  }
}
// CV > Container 1
.container-1--p3 {
  &.outer-style {
    height: 100%;
    width: 100%;
    min-height: 0;
    min-width: 0;
    position: absolute;
    z-index: 997;
    inset: 0px auto auto 0px;
  }
  &.inner-style {
    height: 100%;
  }
  &.property-style {
    color: #ffffffff;
    background-color: #0000005C;
    cursor: pointer;
  }
  &.scroller-style {
    flex-wrap: wrap;
    justify-content: center;
  }
}